# Supabase Credentials
VITE_SUPABASE_URL=https://pzxedvijuvpwertsjqcv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6eGVkdmlqdXZwd2VydHNqcWN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5NDIzNTIsImV4cCI6MjEwMzUxODM1Mn0.vU7EFmP9scI8rwaz8g8vmA22TA7vnd45NjrSED5P7QU
